.callout {
  background-color: var(--color-callout-bg);
  color: var(--color-callout);
  text-align: center;
  font-size: 1.7rem;
  padding: 1.5rem var(--size-padding);
  margin: 2rem var(--size-padding);
  font-size: 500;
}
